@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:slnt,wght@-10..0,100..900&family=Kumbh+Sans:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
	--color-orange: hsl(26, 100%, 55%);
	--color-pale-orange: hsl(25, 100%, 94%);

	--very-dark-blue: hsl(220, 13%, 13%);
	--dark-grayish-blue: hsl(219, 9%, 45%);
	--grayish-blue: hsl(220, 14%, 75%);
	--light-grayish-blue: hsl(223, 64%, 98%);
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);

	--normal-size: 1rem;
	--small: 0.8rem;

	--family: "Kumbh Sans", sans-serif;

	--weight-normal: 400;
	--weight-bold: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--family);
	font-size: var(--normal-size);
}

.page-header {
	width: 100%;
	height: 100vh;
}

.page-navbar {
	width: 80%;
	height: 80px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid var(--grayish-blue);
}

.hamburger-menu,
.close-menu-btn,
.menu-backdrop {
	display: none;
}

.navbar-content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5rem;
}

.navbar-content ul {
	display: flex;
	gap: 3rem;
}

.navbar-content ul li {
	list-style: none;
}

.navbar-content ul li a {
	text-decoration: none;
	color: #898989;
	padding: 1.6rem 0;
	font-family: var(--family);
}

.navbar-content ul li a:hover {
	color: #000;
	border-bottom: 2px solid var(--color-orange);
}

.navbar-controls {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.navbar-controls button {
	width: 25px;
	height: 25px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.user-avatar {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
}

.user-avatar img {
	width: 100%;
	height: 100%;
}

.user-avatar:hover {
	border: 2px solid var(--color-orange);
}

.cart-item-wrapper{
    width: 100%;
    height: fit-content;
}

.cart-item-container{
    width: 80%;
    height: fit-content;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 0 5rem;
}

.product-carousel{
    width: fit-content;
    position: relative;
}

.product-carousel button{
    width: 30px;
    height: 30px;
    padding: .5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
    position: absolute;
    display: none;
}

.prev-image{
    left: 0;
    top: 50%;
}

.next-image{
    right: 0;
    top: 50%;
}

.product-carousel-items{
    width: 450px;
    height: 450px;
    border-radius: .6rem;
    display: flex;
}

.product-carousel-item{
    display: none;
}

.product-carousel-item.current{
    width: 100%;
    height: 100%;
    border-radius: .6rem;
    display: block;
}

.product-carousel-item img{
    width: 100%;
    height: 100%;
    border-radius: .6rem;
}

.product-thumbnail{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.product-thumbnail-item{
    width: 100px;
    height: 100px;
    border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;
}

.product-thumbnail-item:hover img{
    opacity: .7;
}

.product-thumbnail-item.current {
    border: 2px solid var(--color-orange);
}

.product-thumbnail-item.current img{
    opacity: .5;
}

.product-thumbnail-item img{
    width: 100%;
    height: 100%;
}

.product-info{
    flex-basis: 50%;
    height: 100%;
}

.product-info h1{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-orange);
    text-transform: uppercase;
    font-family: var(--family);
}

.product-info h2{
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    font-family: var(--family);
    margin: 1.5rem 0 2rem;
}

.product-info .product-desc{
    font-size: 1.2rem;
    font-family: var(--family);
}

.product-info .pricing{
    width: 100%;
}

.price-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1.5rem 0 .8rem;
}

.price-container h2{
    font-size: 2rem;
    margin: 0;
}

.price-container p{
    padding: .4rem .6rem;
    border-radius: .2rem;
    color: var(--color-orange);
    font-weight: var(--weight-bold);
    background: var(--color-pale-orange);
}

.pricing .old-price{
    color: var(--grayish-blue);
    font-weight: var(--weight-bold);
    text-decoration: line-through;
}

.product-button{
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 60px;
    margin-top: 2rem;
}

.quantity-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-grayish-blue);
    border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.quantity-control button{
    height: 100%;
    padding: 0 1.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
}

.add-to-cart{
    background: var(--color-orange);
    color: #fff;
    display: flex;
    font-weight: var(--weight-bold);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: .4rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: var(--color-orange) 0px 25px 20px -20px;
}

.add-to-cart:hover{
    opacity: .7;
}

.attribution {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media only screen and (max-width: 400px) {
    .page-header{
        height: fit-content;
    }
	.page-navbar {
		width: 100%;
		margin: 0;
		padding: 0 1rem;
		border: none;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
	}

	.hamburger-menu,
	.close-menu-btn {
		display: block;
		margin: 0;
		background: none;
		border: none;
		width: 30px;
		height: 30px;
		outline: none;
		cursor: pointer;
	}

	.close {
		margin-bottom: 3rem;
	}

	.navbar-content {
		justify-content: flex-start;
		gap: 1rem;
		align-items: center;
	}

	.navbar-controls {
		gap: 1rem;
	}

	.navbar-content ul {
		position: fixed;
		width: 250px;
		height: 100vh;
		top: 0;
		left: -100%;
		flex-direction: column;
		background-color: #fff;
		padding: 1rem;
		gap: 2rem;
		z-index: 10;
	}

	.navbar-content ul.show {
		left: 0;
	}

	.navbar-content li {
		margin-left: 1rem;
	}

	.navbar-content ul li a {
		color: var(--very-dark-blue);
	}

	.menu-backdrop {
		display: block;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: -100%;
		background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
	}

	.menu-backdrop.show {
		left: 0;
	}

    .cart-item-wrapper{
        height: fit-content;
    }

    .cart-item-container{
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin: 0;
        gap: 1rem;
    }

    .product-carousel{
        width: 100%;
    }

    .product-carousel button{
        display: block;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    .product-carousel-items {
        width: 100%;
        height: 360px;
        border-radius: 0;
    }

    .product-carousel-item.current{
        border-radius: 0;
    }

    .product-carousel-item.current img{
        border-radius: 0;
    }

    .product-thumbnail{
        display: none;
    }

    .prev-image{
        left: .7rem;
    }

    .next-image{
        right: .7rem;
    }

    .product-info{
        padding: 1rem;
    }

    .product-info h1{
        font-size: .8rem;
    }

    .product-info h2{
        font-size: 2rem;
    }

    .product-info .product-desc{
        font-size: var(--normal-size);
    }

    .pricing{
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .price-container h2{
        font-size: 1.5rem;
    }

    .price-container p{
        font-size: .8rem;
    }

    .product-button{
        grid-template-columns: 1fr;
        grid-auto-rows: 60px;
        margin-bottom: 3rem;
    }

    .attribution {
        width: 100%;
        padding: 1rem 2rem;
        font-size: 1rem;
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
    }
}
