@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:slnt,wght@-10..0,100..900&family=Kumbh+Sans:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{

    --color-orange: hsl(26, 100%, 55%);
    --color-pale-orange: hsl(25, 100%, 94%);

    --very-dark-blue: hsl(220,13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --normal-size: 1rem;
    --small: .8rem;

    --family: "Kumbh Sans", sans-serif;

    --weight-normal: 400;
    --weight-bold: 700;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--family);
    font-size: var(--normal-size);
}

.page-header{
    width: 100%;
    height: 100vh;
}

.page-navbar{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--grayish-blue);
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}

.navbar-content ul{
    display: flex;
    gap: 3rem;
}

.navbar-content ul li{
    list-style: none;
}

.navbar-content ul li a{
    text-decoration: none;
    color: #898989;
    padding: 1.6rem 0;
    font-family: var(--family);
}

.navbar-content ul li a:hover{
    color: #000;
    border-bottom: 2px solid var(--color-orange);
}

.navbar-controls{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-controls button{
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.user-avatar{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.user-avatar img{
    width: 100%;
    height: 100%;
}

.user-avatar:hover{
    border: 2px solid var(--color-orange);
}

.cart-container{
    width: 400px;
    height: fit-content;
    background: #fff;
    border-radius: .6rem;
    box-shadow: 0 0 18px rgba(0, 0, 0, .15);
    position: absolute;
    overflow: hidden;
    right: 10rem;
    top: 6rem;
    display: none;
}

.cart-container.show{
    display: block;
}

.cart-header{
    width: 100%;
    padding: 1.8rem 1rem;
    text-align: left;
    border-bottom: 3px solid #cdcdcd;
}

.cart-body{
    padding: 6rem 2rem;
    text-align: center;
}

.cart-item-wrapper{
    width: 100%;
    height: fit-content;
}

.cart-item-container{
    width: 80%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    height: fit-content;
    padding: 0 4rem;
}

.product-carousel{
    overflow: hidden;
    width: 500px;
    height: 500px;
    border-radius: .4rem;
}

.product-carousel-items{
    display: flex;
    width: fit-content;
    height: fit-content;
}

.product-carousel-item{
    width: 500px;
    height: 500px;
}

.product-carousel-item img{
    width: 100%;
    height: 100%;
}

.product-thumbnail{
    width: fit-content;
    display: flex;
    margin-top: 1rem;
    gap: 1.2rem;
}

.product-thumbnail-item{
    width: 110px;
    height: 110px;
    border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;
}

.product-thumbnail-item:hover{
    opacity: .4;
}

.product-thumbnail-item.current{
    border: 2px solid var(--color-orange);
}

.product-thumbnail-item img{
    width: 100%;
    height: 100%;
}

.product-info{
    padding: 6rem 0;
}

.product-info h1{
    color: var(--color-orange);
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.product-info .subtitle{
    text-transform: capitalize;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.product-info p{
    font-size: var(--normal-size);
    margin-bottom: 2rem;
}

.price-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.price-container .discount{
    margin: 0;
    background: var(--color-pale-orange);
    padding: .2rem .4rem;
    border-radius: .2rem;
    font-size: var(--small);
    font-weight: var(--weight-bold);
    color: var(--color-orange);
}

.product-info .old-price{
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.product-button{
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.quantity-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding: 1rem;
    border-radius: .5rem;
    background: var(--light-grayish-blue);
    cursor: pointer;
}

.quantity-control button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;
}

.quantity-control p{
    margin: 0;
}

.add-to-cart{
    background: var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 1.5rem;
    border: 0;
    border-radius: .5rem;
    width: 300px;
    box-shadow: 5px 15px 15px var(--color-pale-orange);
    font-family: var(--family);
    cursor: pointer;
}

.add-to-cart p{
    margin: 0;
}

.add-to-cart svg{
    fill: #fff;
}

.add-to-cart svg{
    fill: #fff;
}